body{
    margin: 0;
    padding: 0;
    background-color: rgba(128, 124, 124, 0.355);
}
.container-menu{
    background-color: #363740;
    width: 255px;
    height: 100vh;
    position: absolute;
}
li i{
    margin-right: 30px;
    margin-left: 5px;
}
ul li h3{
    color: #FFFF;
    font-family: 'Inter';
   justify-content: center;
    margin-left: 35px;
    font-size: 30px;
}
.container-menu li{
    list-style: none;
}
.container-menu button{
    background-color: #363740;
    color: #FFFF;
    border: none;
    height: 56px;
    width: 255px;
    margin-left: -40px;

    font-size: 20px;
    font-family: 'Inter';
    text-align: left;
}
.container-menu button:hover{
    background-color: #9FA2B4;
    color: #363740;
}
.container-top{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 60px;
    box-shadow: 10px 10px 30px rgb(169, 169, 169);
    text-align: center;
    margin-top: -16px;
}
.container-top ul{
    font-family: 'Inter';
}
